#info{
  float: left;
  max-width: 50%;
}

#info table{
  width: 100%;
  border-collapse: collapse;
}
#info tr{
  background: rgba(255, 255, 204, 0.2);
}
#info td{
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

#reviews{
  float: left;
  margin: 0;
}
