body {
  background-color: #060d13;
  margin: 0;
}

div.header {
  background-color: #333;
  padding: 0 11%;
}

div.logo {
}

div.navigation {

}
div.navigation ul {
  /* Removes the bullets. */
  list-style-type: none;
  /* Hides content if it excedes its container. */
  overflow: hidden;
  margin: 0;
  padding: 0;

}
div.navigation li {
  float: left;
}
div.navigation li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 18% 16px;
  color: white;
}
div.navigation li a:hover {
  background-color: #111;
}

div.content {
  background-color: #18222A;
  position: absolute;
  left: 11%;
  width: 78%;
  height: 92.5%;
}


div.footer {

}
